<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--public CSS-->
    <link rel="stylesheet" href="/public/main.css"> 

    <title>나의 할 일</title>
  </head>
  <body>

    <%- include('nav.html') %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <h4 class="ml-2 my-3 text-center"> <%= user %> 님 할일 리스트</h4>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input">
      <button class="btn btn-outline-primary" id="search">검색</button>
    </div>
    <br>
    <div class="container">
    <button class="btn btn-outline-primary all" onclick="location.href='/complete/<%= myposts.작성자 %>';">완료한 할 일까지 함께 보기</button>
    <button class="btn btn-outline-primary all" onclick="location.href='/sendemail'">진행 중인 할 일 이메일로 보내기</button>
    </div>
    <br>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $('#search').click(function(){
        var 입력한값 = $('#search-input').val()
        window.location.replace('/search?value=' + 입력한값);
      });
    </script>

  <div class="container">
    <ul class="list-group">
      <% if ("false" == "false") { console.log("hi"); }else{console.log("bye");} %>
      <% for (var i = 0; i < myposts.length; i++){ %>
      <li class="list-group-item">
        <h4> 할 일 : <%= myposts[i].제목 %> </h4>
        <p> 우선순위 : <%= myposts[i].우선순위 %> </p>
        <p> 날짜 : <%= myposts[i].날짜 %> </p>
        <!-- <p> 완료 : <%= myposts[i].완료 %> </p>
        <p> 공개 : <%= myposts[i].공개 %> </p> -->
        <p> 메모 : <%= myposts[i].메모 %> </p>
        <button class="btn btn-outline-primary delete" data-id="<%= myposts[i]._id %>">삭제</button>
        <!-- <button class="btn btn-outline-primary edit" data-id="<%= myposts[i]._id %>"">수정</button> -->
        <button class="btn btn-outline-primary edit" onclick="location.href='/edit/<%= myposts[i]._id %>';">수정하기</a></button> 
        <button class="btn btn-outline-primary complete" onclick="location.href='/complete/<%= myposts[i]._id %>';" data-id="<%= myposts[i]._id %>"">할 일 완료</button>
      </li>
      <% } %>
    </ul>
  </div>
      
    
    <script>
      $('.delete').click(function(d){
        var 글번호 = d.target.dataset.id;
        var 지금누른거 = $(this); 

        $.ajax({//ajax이용해서 서버에 새로고침 없이 
          method : 'DELETE', //delete 요청을 할 것이다.
          url : '/delete', //요청할 경로에
          data : {_id : 글번호}, //데이터를 같이 보낸다
        }).done(function(결과){//요청 성공시
          console.log('삭제 성공');
          지금누른거.parent('li').fadeOut(); //fadeout애니메이션활용 선택된 li태그없애기
        }).fail(function(xhr, textStatus, errorThrown){//요청 실패시
          console.log(xhr, textStatus, errorThrown);//응답코드와 에러메시지 출력
        });
      });

      $('.complete').click(function(c){
        var 글번호 = c.target.dataset.id;
        var 지금누른거 = $(this);

        $.ajax({
          method : 'PUT',
          url : '/complete',
          data : {_id : 글번호},
        }).done(function(결과){
          console.log('완료 클릭');
          지금누른거.parent('li').fadeOut();
        }).fail(function(xhr, textStatus, errorThrown){//요청 실패시
          console.log(xhr, textStatus, errorThrown);//응답코드와 에러메시지 출력
        });
      });
    </script>
 


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>